# Cấu hình Server
PORT=5000

# Cấu hình Database
# Ví dụ: mongodb://localhost:27017/cosmetics_db hoặc MongoDB Atlas URI
MONGODB_URI=

# Bảo mật JWT
# Bạn có thể tự đặt một chuỗi bí mật dài và khó đoán
JWT_SECRET=
JWT_EXPIRATION=24h

# Cấu hình Cloudinary (Dành cho Upload ảnh - Lấy từ Cloudinary Dashboard)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
